@font-face {
    font-family: Gilroy-Bold;
    src: url(../font/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(../font/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../font/Gilroy-Regular.ttf);
}

body {
    background-color: #F7EFE1;
}

.logo {
    padding: 30px;
}

.hero-main {
    background-color: #DF6651;
    padding: 58px 50px;
    border-radius: 14px;
    /* height: 574px; */
}

.hero-header {
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: normal;
    color: #091026;
    margin-bottom: 10px;


}

.hero-line1 {
    font-family: Gilroy-SemiBold;
    font-size: 30px;
    line-height: normal;
    color: #F7EFE1;
    margin-bottom: 30px;
}

.hero-line2 {
    font-family: Gilroy-Regular;
    font-size: 24px;
    line-height: normal;
    color: #F7EFE1;
}

.part-main {
    background-color: #51A380;
    border-radius: 14px;
    margin-top: 30px;
    padding: 58px 50px;

}

.part-header {
    color: #B9405B;
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: normal;


}

.part-line1 {
    color: #F7EFE1;
    font-family: Gilroy-Bold;
    font-size: 30px;
    line-height: normal;
    margin-bottom: 30px;

}

.part-line2 {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 24px;
    line-height: normal;

}

.part-line3 {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 24px;
    line-height: normal;
    margin-top: 20px;

}

.part-line4 {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 24px;
    line-height: normal;
    margin-top: 20px;


}

.main-part {
    margin-top: 30px;


}

.part2-text {
    background-color: #002856;
    border-radius: 14px;
    padding: 58px 50px;
}

.part2-header {
    color: #DF6651;
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: normal;
}

.part2-line1 {
    color: #F7EFE1;
    font-family: Gilroy-Bold;
    font-size: 30px;
    line-height: normal;
    margin-top: 20px;
}

.part2-line2 {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 24px;
    line-height: normal;
    margin-top: 30px;
}

.part2-line3 {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 24px;
    line-height: normal;
    margin-top: 30px;
}

/* .m-part{
    padding: 25.5px 34px 29.71px;
} */
.part3header .part3-line1 .part3-line2 .part3-line3 {
    padding: 25.5px 34px 29.71px;
}

.part3-header {
    color: #B9405B;
    font-family: Gilroy-SemiBold;
    font-size: 20.398px;
    line-height: normal;
    margin-top: 30px;
}

.part3-line1 {
    color: #002856;
    font-family: Gilroy-SemiBold;
    font-size: 25.497px;
    line-height: normal;
    margin-top: 30px;
}

.part3-line2 {
    color: #091026;
    font-family: Gilroy-SemiBold;
    font-size: 18.698px;
    line-height: 28.897px;
    opacity: 0.5;
    margin-top: 20px;
}

.part3-line3 {
    color: #DF6651;
    font-family: Gilroy-Regular;
    font-size: 16.998px;
    line-height: 28.897px;
    margin-top: 20px;
}

.p3header .p3-line1 .p3-line2 .p3-line3 {
    padding: 34.03px 34.02px 78.01px;
}

.p3-header {
    color: #B9405B;
    font-family: Gilroy-SemiBold;
    font-size: 20.415px;
    line-height: normal;
    margin-top: 20px;
}

.part3-line3 {
    color: #DF6651;
    font-family: Gilroy-Regular;
    font-size: 16.998px;
    line-height: 28.897px;
    margin-top: 20px;
}

.part-3 .section-3-block {
    background-color:
        #dfdbd3;
    padding: 24px 32px;
    border-radius: 12px;
    margin-right: 10px;
    height: 581px;
}

.part-3 .investing-insight-2 {
    background-image: url(../img/Mask\ group.png);
    background-position: bottom center;
    background-repeat: no-repeat;

}

.part-3 .investing-insight-1 {
    background-image: url(../img/Mask\ group2.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.part-3 .investing-insight-3 {
    background-image: url(../img/Mask\ group3.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.main-part4 {
    margin-top: 30.46px;

}

.part4-text {
    border: 2px solid var(--Green, #51A380);
    border-radius: 14px;
    background-color: #F7EFE1;

}

.part4-header {
    padding-top: 58px;
    padding-left: 50px;
    padding-right: 26px;
    color: var(--Dark-Green, #0A7A69);
    font-size: 40px;
    line-height: normal;
    font-style: normal;
    font-family: Gilroy-Bold;
}

.part4-line1 {
    color: var(--Dark-Green, #0A7A69);
    font-size: 30px;
    line-height: normal;
    font-style: normal;
    font-family: Gilroy-Bold;
    padding-left: 50px;
}

.part4-line2 {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 26px;
    color: #002856;
    font-size: 24px;
    line-height: normal;
    font-style: normal;
    font-family: Gilroy-Regular;
}

.img {
    border-radius: 14px;
    background-color: #0a7a69;
}

.mainpart-5 {
    border-radius: 14px;
    background-color: #B9405B;
    margin-top: 30px;

}

.part5-header {
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: normal;
    color: #F7EFE1;
    padding-top: 58px;
    padding-left: 50px;
}

.part5-line1 {
    font-family: Gilroy-SemiBold;
    font-size: 30px;
    line-height: normal;
    color: #F7EFE1;
    padding-left: 50px;
}

.part5-line2 {
    font-family: Gilroy-SemiBold;
    font-size: 30px;
    line-height: normal;
    color: #F7EFE1;
    padding-left: 50px;
}

.part5-line3 {
    margin-top: 30px;
    font-family: Gilroy-Regular;
    font-size: 24pxpx;
    line-height: 34px;
    color: #F7EFE1;
    width: 540px;
    height: 100px;
    left: 95px;
    padding-left: 50px;
}

.main-part6 {
    margin-top: 30px;
    border-radius: 14px;
    background-color: #DF6651;

}

.part6-header {
    padding-top: 60px;
    padding-left: 64px;
    color: #F7EFE1;
    font-size: 40px;
    line-height: normal;
    font-family: Gilroy-Bold;
}

.part6-line1 {
    color: #FFF;
    font-size: 24px;
    line-height: 34px;
    font-family: Gilroy-Regular;
    padding-left: 64px;
}

.main-part7 {
    margin-top: 30px;


}

.part7-text {
    background-color: #0A7A69;
    border-radius: 14px;
    padding-top: 58px;
    padding-right: 50px;
    padding-left: 50px;

}

.part7-header,
.part7-line1,
.part7-line2 {
    color: #F7EFE1;
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: normal;
}

.part7-line3 {
    color: var(--White, #FFF);
    font-size: 24px;
    font-family: Gilroy-Regular;
    line-height: 34px;
    font-style: normal;
}

.img1 {
    border: 2px solid var(--Green, #51A380);
    border-radius: 14px;
    background-color: #F7EFE1;
    width: 590px;
    height: 704px;
}

.main-partf {
    background-color: #B9405B;
    margin-top: 30px;
    border-radius: 14px;
    width: 1170px;
    height: 306px;
}

.footer-text {
    padding-top: 61px;
    padding-left: 50px;
    color: #F7EFE1;
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: normal;
}

.main-partff {
    background-color: #002856;
    color: #FFF;
    margin-top: 51px;
    margin-bottom: 150px;
    height: 256.163px;
}

.img2 img {
    width: 67.349px;
    height: 67.349px;
    display: inline;
    margin-top: 94px;
    /* margin-top: 45px; */
    margin-left: px;
}


.f-img {
    width: 626px;
    height: 100px;
    flex-shrink: 0;
    margin: 54px 282px;
}

.art {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: normal;
    padding-top: 45px;
    padding-left: 47px;
}

.lgl {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: normal;
    margin-top: 45px;
    margin-bottom: 21.63px;
    /* margin-left: 200px; */
}

.pvc {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: normal;
    padding-bottom: 15.88px;
    opacity: 0.5;
    /* margin-left: 200px; */

}

.tc {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: normal;
    padding-bottom: 15.88px;
    opacity: 0.5;
    /* margin-left: 150px; */

}

.con {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: normal;
    padding-bottom: 15.88px;
    opacity: 0.5;
    /* margin-left: 200px; */

}

.hero-main2 {
    background-color: #B9405B;
    border-radius: 14px;
    width: 1190px;


}

.heading {
    color: var(--Cream, #F7EFE1);
    font-family: Gilroy-Bold;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    padding-top: 58px;
    padding-left: 50px;
}

.accordion-item {
    background-color: #002856;
    height: 167px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 14px !important;
    margin-bottom: 17.33px;
    border: none;
    padding-left: 20px !important;
    padding-right: 20px !important;
    /* width: 535px !important; */
}

/* .ac{
margin-top: 50px !important;
margin-left: 50px !important; 

} */
.accordion-item1 {
    background-color: #002856;
    /* width: 535px !important; */
    height: 167px;
    margin-top: 50px !important;
    margin-right: 50px !important;
    border-radius: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 17.33px;
}


.accordion-item2 {
    background-color: #002856;
    margin-left: 50px !important;
    border-radius: 14px;
    margin-bottom: 58.33px !important;
    /* width: 535px !important; */
}

.accordion-item3 {
    background-color: #002856;
    margin-right: 50px !important;
    border-radius: 14px;
    margin-bottom: 58.33px !important;
    /* width: 535px !important; */
}

.accordion {
    width: 535px !important;
    /* margin-left: 50px; */
}


.accordion-body {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    opacity: 0.5;

}

.accordion-collapse {
    background-color: #002856;
    height: 89.67px;
    margin-right: 50px;
    border-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.accordion-collapse2 {
    background-color: #002856;
    height: 89.67px;
    margin-right: 50px;
    width: 100%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.accordion-collapse3 {
    background-color: #002856;
    height: 89.67px;
    width: 100%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.accordion-collapse4 {
    background-color: #002856;
    height: 89.67px;
    margin-right: 50px;
    width: 100%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.accordion-button {
    background-color: #002856;
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 18px;
    line-height: normal;
    /* border-bottom: 2px solid black; */
    /* border-bottom-width: 493px; */
}

.accordion-button:not(.collapsed) {
    background-color: #002856;
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 18px;
    line-height: normal;
    border-bottom: 1px solid #091026;
    box-shadow: none;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    /* width: 493px; */
    /* margin-left: 10px; */
    /* border-bottom-width: 20px; */
    /* border-bottom-width: 493px; */
    /* box-shadow: inset 1 calc(-00 * var(--bs-accordion-border-width))  #040404; */

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainpart-a {
    background-color: #002856;
    width: 1190px;
    height: 699px;
    border-radius: 14px;
    margin-top: 30px;
}

.contct {
    color: #DF6651;
    font-family: Gilroy-Bold;
    font-size: 40px;
    line-height: normal;
    margin-top: 58px;
    margin-left: 50px;
}

h3 {
    color: #FFF;
    font-family: Gilroy-Regular;
    font-size: 18px;
    line-height: normal;
    margin-top: 50.62px;
    margin-left: 50px;
}

.name {
    width: 350px;
    height: 60px;
    border-radius: 16px;
    border-color: red !important;
    border: 1px solid red !important;
    background: rgba(255, 255, 255, 0.10);
    margin-left: 30px;
    padding-left: 21.33px;
    /* box-shadow: 0 1px 100px 0 rgb(0 0 0 /30%); */
    /* background-image: (linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255))); */
    background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
    padding: 2px;
}

.mail {
    width: 350px;
    height: 60px;
    border-radius: 16px;
    
    /* border: 1px solid #C4C4C4; */
    background: rgba(255, 255, 255, 0.10);
    padding-left: 21.33px;
    margin-left: 15px;

}

.cntct {
    width: 350px;
    height: 60px;
    border-radius: 16px;
    /* border: 1px q      q asolid #C4C4C4; */
    background: rgba(255, 255, 255, 0.10);
    margin-right: 50px;
    padding-left: 21.33px;
}

.qu {
    margin-top: 65px;
}

.query {
    width: 1089px;
    height: 228px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #C4C4C4;
    background: rgba(255, 255, 255, 0.10);
    margin-left: 50px;
    margin-right: 50px;
}

.sub {
    width: 244px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F7EFE1;
    margin-top: 50px;
    margin-left: 473px;
    margin-bottom: 58px;
    color: var(--Dark-Blue, #091026);
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 16px;
    font-style: normal;
    line-height: 21px;
    /* 131.25% */
}

#textname {
    color: var(--Cream, #F7EFE1);
    font-family: Gilroy-Regular;
    font-size: 18px;
    line-height: normal;
}

.mainpart-b {
    width: 1190px;
    height: 299px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #DF6651;
    margin-top: 30px;
}

img {
    margin-top: 55px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../img/minus.png");

}

.accordion-button::after {
    background-image: url("../img/plus.png");


}

.accordion-item:last-of-type {
    border-radius: 14px;
    margin: 0px;
    width: 535px;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 15px 15px 0px 0px
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 15px 15px 0px 0px
}

.accordion-item:last-of-type .accordion-collapse {
    border-radius: 14px;
}

.text:last-of-type {
    margin: 0px;
}
